@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
  height: 2rem;
  align-items: center;
  font-size: 1.5rem;
  color: orangered;
  a {
    color: orangered;
    text-decoration: none;
    &:link, &:visited {
      color: orangered;
      text-decoration: none;
    }
  }
}

.HomePage {
  h1 {
    font-size: 3rem;
  }
  .background{
    z-index:-1;
    position: absolute;
    opacity:.3;
    img{
      width:100vw;
    };
  }
}

.AboutPage {
  h1 {
    font-size: 3rem;
  }
}

.ContactPage{
  h1 {
    font-size: 3rem;
  }

}

.AppPage {
  h1 {
    font-size: 3rem;
  }

}

.SheetsComponent{
  iframe{
    height: 90vh;
    width: 90vw;
  }
}

.InstagramComponent{
  .thumbnail{
    border-radius: 50%;
  }
  #instafeed{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    overflow-y:scroll;
}
@keyframes slide {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-100%); 
    }
    100% {
        transform: translateY(-200%); 
    }
}

#instafeed img{
    height: 30vw;
    height: 30vw;
    width: 30vw;
    animation: slide 30s linear infinite; 
}

.header{
    display: flex; 
    flex-direction:row;
    justify-content: space-around;
    margin-left: 2vw;
    margin-right:2vw;
}
.header a{
    text-decoration:none;
    color: black;
}
.header a:hover{
    text-decoration:none;
    color: black;
}

.header img{
    width: 5vw;
    height: 5vw;
    border-radius:50%;
    margin-top:1vh;
    margin-bottom:1vh;
}
}

.WasteFactsComponent{
  h2{
    font-size:2rem;
  }
  p{
    font-size:1rem;
    margin-top:1rem;
    text-align:justify;
    width: 98%;
  }
  .superscript{
    font-size:.5rem;
  }
  .footnotes{
    margin-left:1%;
    h3{
      margin-right: 100vw;
      float:left;
      font-size:1.25rem;
    }
    margin-top:2rem;
    p{
      float:left;
    }
  }
}