@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
  height: 3rem;
  align-items: center;
  font-size: 2vmax;
  color: goldenrod;
  a {
    color: goldenrod;
    text-decoration: none;
    &:link, &:visited {
      color: goldenrod;
      text-decoration: none;
    }
  }
}

.HomePage {
  h1 {
    font-size: 3rem;
  }
  #title{
    padding-top:4vh;
    padding-bottom:4vh;
  }
  .background{
    z-index:-1;
    position: absolute;
    margin-top:0;
    opacity:.3;
    img{
      min-width:100vw;
      min-height:100vh;
    };
  }
}


.AboutPage {
  h1 {
    font-size: 3rem;
  }
  p {
    margin-top:1rem;
    margin-left:5vw;
    margin-right:5vw;
    font-size:1.2rem;
    color:transparent;
  }
  h1, p, a, h2{
    color: rgba(255, 255, 255, 0); 
    transition: color 5s;
  }
  p#active, h1#active, h2#active {
    color: rgba(0, 0, 0, 1); 
    a#active{ 
      color: rgba(0, 0, 0, 1); 
    }
  }
  h2{
    margin-top:2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .background{
    z-index:-1;
    position: absolute;
    margin-top:0;
    opacity:1;
    transition: opacity 7s;
    img{
      width:100vw;
    };
  }
  div#active{
    opacity:.3;
  }
}

.ContactPage{
  .header{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    opacity:0;
    transition: opacity 1s;
    h1 {
      font-size: 3vmax;
      color: black;
      padding-bottom:1rem;

      a{
        color: black;
      }
      a:hover{
        color:goldenrod;
        text-decoration:none;
      }
    }
    
    .thumbnail{
      border-radius:50%;
      height:10vh;
      width:10vh;
    }    
  }
  .header#active{
    opacity:1;
  }
  .column{
    display: flex;
    flex-direction: column;
  }
  .left{
    text-align: start;
    margin-left:15%;
  }
  .row{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  }
  .background{
    z-index:-1;
    position: absolute;
    margin-top:0;
    opacity:1;
    transition: opacity 7s;
    img{
      min-width:100vw;
      min-height:100vh;
    }
  }
  div#active{
    opacity:0;
  }
  #instaDisplay{
    margin-top:1rem;
  }
  .influencers{
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
  }
  #center{
    align-self:center;
    padding-bottom:1.5rem;
  }
  h2{
    font-size:2rem;
  }
  #footer{
    margin-bottom:3rem;
  }
}

.AppPage {
  h1 {
    font-size: 3rem;
  }

}

/* COMPONENTS */
.SheetsComponent{
  h1{
    margin-top:2rem;
  }
  iframe{
    height: 90vh;
    width: 90vw;
    opacity:.0;
    transition: opacity 8s linear;
  }
  iframe#active{
    opacity:1
  }    
  #SQL{
      opacity:1;
      color: goldenrod;
    }
  .neondb{
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: rgb(246, 245, 245);
    align-items: center;
    .items{
      button{
        height: 5vw;
        min-width: 15vw;
        white-space:nowrap;
        overflow: hidden; 
        text-overflow: ellipsis;
      }
    }
    .corps{
      margin-top:2rem;
      display:flex;
      flex-direction: row;
      .corp{
        display:flex;
        flex-direction: column;
      }
    }
    button{
      background-color: white;
      border-color: none;
      color: black;
      width:4.3vw;
      white-space:nowrap;
      overflow: hidden; 
      text-overflow: ellipsis;
    }
    .corporationHeader{
      display: flex; 
      flex-direction:column;
      #corporationName{
        width:90vw;
      }
      .columnHeaders{
        display: flex; 
        flex-direction: row;
      }
    }
    .item{
      display:flex;
      flex-direction:row;
    }
  }
}

@keyframes fly-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
$stagger-times: 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9, 4.0, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9;

@function return-time($list, $idx){
  @return nth($list, $idx);
}

@mixin animate-load($num-img){
  @for $i from 1 through $num-img{
    $animation-duration: .5s;
    $delay: return-time($stagger-times, $i);
    .img:nth-child(#{$num-img}n + #{$i}) {
      animation: fly-in $animation-duration ease-out forwards;
      animation-delay: $delay * 1s;
    }
  }
}

.Instagram{
  display:flex;
  justify-content: center;
  display:grid;
  grid-template-columns: 25vmax 25vmax 25vmax;
  @include animate-load(39);

  .img{
    height: 25vmax;
    width:25vmax;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    img{
      height: 24vmax; 
      width: 24vmax;
      object-fit: cover;
    }
  }
}


@keyframes slide {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-100%); 
    }
    100% {
        transform: translateY(-200%); 
    }
}






.WasteFactsComponent{
  h2{
    font-size:2rem;
  }
  p{
    font-size:1rem;
    margin-top:1rem;
    text-align:justify;
    width: 98%;
  }
  .superscript{
    font-size:.5rem;
  }
  .footnotes{
    margin-left:1%;
    h3{
      margin-right: 100vw;
      float:left;
      font-size:1.25rem;
    }
    margin-top:2rem;
    p{
      float:left;
    }
  }
}

@media only screen and (max-width:750px){
  html {
    overflow-x:hidden;
    max-width: 100vw;
  }
  .AboutPage {
    h1 {
      font-size: 1.5rem;
      color: goldenrod;
    }
    p {
      margin-top:.3rem;
      margin-left:5vw;
      margin-right:5vw;
      font-size:.7rem;
      color:black;
      a{
        color:black;

      }
    }
    iframe{
      opacity:1;
    }
    h2{
      font-size: 1.15rem;
      opacity:1;
      margin:.75rem;
      color: goldenrod;
    }
    .background{
      z-index:-1;
      position: absolute;
      margin-top:0;
      opacity:.3;
      img{
        height:auto;
        width: 100vw;
      };
    }
  }
  .SheetsComponent{
    h1{
      margin-top:2rem;
      font-size:1.5rem;
    }
    iframe{
      height: 90vh;
      width: 90vw;
    }
    .neondb{
      position: relative;
      #SQL{
        color: black;
        transform: rotate(-90deg);
        margin:-5vw;
      }
      display: flex;
      flex-direction: row;
      height: 90vh;
      background-color: rgb(246, 245, 245);
      align-items: center;
      .items{
        position: absolute;
        top: 5.5rem; 
        left: 50%; 
        transform: translateX(-50%);
        overflow-y: auto; 
        min-height: 0;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
        button{
          white-space:nowrap;
          min-width:5rem;
          max-width:5rem;
        }
      }
      .corps{
        margin-top:2rem;
        display:flex;
        flex-direction: column;
        .corp{
          display:flex;
          flex-direction: row;
          .corpsButton{
            min-width:5rem; 
            white-space:nowrap;
          }
        }
      }
      button{
        background-color: white;
        border-color: none;
        color: black;
        width:5vw;
        white-space:nowrap;
      }
      .corporationHeader{
        display: flex; 
        flex-direction:column;
        #corporationName{
          min-width:30rem;
        }
        .columnHeaders{
          display: flex; 
          flex-direction: row;
        }
      }
      .item{
        display:flex;
        flex-direction:row;
        button{
          max-width:5rem;
          min-width:5rem;
        }
      }
    }
  }
  .HomePage {
    h1 {
      font-size: 2rem;
    }
    #title{
      padding-top:2vh;
      padding-bottom:2vh;
    }
    .background{
      z-index:-1;
      position: absolute;
      margin-top:0;
      opacity:.3;
      max-width:100vw;
      img{
        height:100vh;
        width: auto;
      };
    }
    p{ 
      font-size: .75rem;
    }
  }
  .NavBar{
    font-size: 1rem;
  }
  .Instagram{
    display:flex;
    justify-content: center;
    display:grid;
    grid-template-columns: 15vmax 15vmax 15vmax;
    @include animate-load(39);
    .img{
      height: 15vmax;
      width:15vmax;
      background-color:white;
      display:flex;
      justify-content: center;
      align-items: center;
      opacity:0;
      img{
        height: 14vmax; 
        width: 14vmax;
        object-fit: cover;
      }
    }
  }
}
